body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
}

.hide {
  display: none !important;
}

header {
  position: relative;
  padding: 1.5rem 1rem;
  background-image: url('../images/bg-main-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(0, 0%, 100%);
}

#bg-card-back {
  position: relative;
  width: 75%;
  margin-right: 0;
  margin-left: auto;
  padding-bottom: 1rem;
}

#bg-card-back > div {
  position: absolute;
  top: 60px;
  right: 35px;
  font-size: .75rem;
}

#bg-card-front {
  position: absolute;
  width: 75%;
  bottom: -55px;
}

#card-info {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  right: 1.5rem;
}

#card-patterns {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  display: flex;
  align-items: center;
}

#card-patterns > span {
  border-radius: 50%;
}

#white-circle {
  width: 32px;
  height: 32px;
  background-color: hsl(0, 0%, 100%);
  margin-right: .5rem;
}

#clear-circle {
  width: 16px;
  height: 16px;
  border: 1px solid hsl(0, 0%, 100%);
}

#card-info > div {
  width: 100%;
  flex: 1 100%;
}

#card-info > div:first-of-type {
  margin-bottom: .5rem;
  font-size: 1.1rem;
  letter-spacing: .1rem;
}

#card-info > div:last-of-type {
  display: flex;
  justify-content: space-between;
  font-size: .85rem;
}

main {
  padding-top: 6rem;
  width: 90%;
  margin: 0 auto;
  color:hsl(278, 68%, 11%);
  font-size: 1rem;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

form > label {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 100%;
  text-transform: uppercase;
}

form > label > div {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: .5rem;
  position: relative;
  border: 1px solid transparent;
  background:hsl(0, 0%, 100%);
  background-clip: padding-box;
  border-radius: 8px;
}

form > label > div::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1px;
  border-radius: inherit;
  background: hsl(270, 3%, 87%);
}

form > label > div.focus::before {
  background: linear-gradient(hsl(249, 99%, 64%),hsl(278, 94%, 30%))
}

form > label > div.error::before {
  background: hsl(0, 100%, 66%);
}

form > label > span {
  font-size: 12px;
  color: hsl(0, 100%, 66%);
  margin-top: .5rem;
}

form > label > div > input {
  padding: .75rem;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: hsl(0, 0%, 100%);
}

input::placeholder {
  color: hsl(270, 3%, 87%);
}

input:focus {
  outline: none !important;
}

#label-exp-date, #label-cvc {
  flex: 2 45%;
  width: 45%;
}

#label-exp-date {
  flex-direction: row;
  justify-content: space-between;
}

#label-exp-date > div {
  flex: 2 45%;
  width: 45%;
}

#label-exp-date > div:first-of-type {
  margin-right: .5rem;
}

#label-cvc {
  margin-left: .5rem;
}

form > input {
  padding: 1rem;
  border-radius: 8px;
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  flex: 1 100%;
  margin-top: .5rem;
}

#div-form-complete {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#icon-complete {
  width: 20%;
  margin: 2rem auto;
}

#div-form-complete > b {
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin: 0 auto 1rem auto;
}

#div-form-complete > div {
  color: hsl(279, 6%, 55%);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

#div-form-complete > a {
  padding: .75rem;
  border: 1px solid hsl(278, 68%, 11%);
  background-color: hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%);
  border-radius: 8px;
  cursor: pointer;
}